.nav__wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #222;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 20;
  opacity: 0;
  scale: 0;
  transform: translateY(250px);

  overflow-y: auto;
}

.nav__wrapper-open {
  opacity: 1;
  scale: 1;
  transform: translateY(0);
  transition: 0.4s all;
}

.footer__wrapper-close {
  opacity: 0;
  transform: translateY(420px);
  transition: 0.8s all;
}

.menu-logo-close {
  display: none;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  padding: 78px 0;
  background: #fff;
  &-item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    background: #fff;
    cursor: pointer;

    &-link {
      font-size: 16px;
      font-family: Merriweather;
      font-style: normal;
      font-weight: 700;
      text-decoration: none;
      color: #000;
      padding: 20px 0 30px 66px;
      &-active {
        color: #771373;
      }
    }
    img {
      width: calc(100% + 24px);
      margin-left: -12px;
    }
    .media-desktop {
      position: absolute;
      bottom: 0;
    }
  }
  &-item:hover {
    opacity: 0.7;
  }
}
