$color-brand: #5b0e58;

.button-where-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  cursor: pointer;
  border: none;
  border-radius: 32px;
  background: #620f5f;

  color: #fff;
  text-align: center;

  font-family: Roboto;
  font-style: normal;
  line-height: 16px;
  &:hover {
    span {
      opacity: 0.7;
    }
  }
}

.s-btn {
  width: 79px;
  height: 27px;
  font-size: 12px;
  font-weight: 500;
}
.m-btn {
  width: 132px;
  height: 34px;
  font-size: 14px;
  font-weight: 400;
}

.brand-color-btn {
  color: $color-brand;
  border: 1px solid $color-brand;
  background: #fff;
  align-self: center;
  &:last-child {
    margin-top: 1px;
  }
}

.button-burger-open {
  display: flex;
  width: 32px;
  height: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  .menu-logo {
    width: inherit;
    height: inherit;
  }
}
