.button-where-buy {
  width: 79px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  cursor: pointer;
  border: none;
  border-radius: 32px;
  background: #620f5f;

  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  &:hover {
    span {
      opacity: 0.7;
    }
  }
}

.button-burger-open {
  display: flex;
  width: 32px;
  height: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  .menu-logo {
    width: 32px;
    height: auto;
  }
}
